#slide-overlay {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms ease, transform 300ms ease;
    pointer-events: none;
  }
  #slide-overlay.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
  }
  #overlay-image {
    transition: transform 0.4s ease;
  }